@use './variables' as *;

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @mixin card {
    background-color: white;
    border-radius: $border-radius;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  